
#main-header {
    background-color: #ef96b2;
    color: white;
    padding: 20px;
    text-align: center;
}

#main-footer {
    background-color: #4a004e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.subtitle {
    font-size: 1.5em;
    color: #ef33d2;
}

.text {
    font-size: 1.2em;
    color: #555;
}

.image {

    margin: 20px auto;
    border: 2px solid #ef96b2;
    border-radius: 10px;
    width: 300px;
}
/* Para pantallas pequeñas (smartphones) */
@media (max-width: 600px) {
    #main-header {
        font-size: 1.5em; /* Reduce el tamaño del texto del header */
        padding: 15px;
    }

    .subtitle {
        font-size: 1.2em; /* Ajusta subtítulos */
    }

    .text {
        font-size: 1em; /* Reduce el tamaño del texto para mayor legibilidad */
    }

    .image {
        width: 90%; /* Ajusta el tamaño de la imagen al ancho de la pantalla */
    }

    #main-footer {
        font-size: 0.9em; /* Ajusta el tamaño del texto del footer */
        padding: 5px;
    }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    #main-header {
        font-size: 2em;
    }

    .text {
        font-size: 1.1em;
    }

    .image {
        width: 70%;
    }
}